<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.7.0.110" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.7.1.82" />
  <package id="AWSSDK.CognitoSync" version="3.1.0.5" />
  <package id="AWSSDK.Core" version="3.7.5.9" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.2.5" />
  <package id="AWSSDK.SecurityToken" version="3.7.1.101" />
  <package id="AWSSDK.SyncManager" version="3.1.0.3" />
  <package id="System.Buffers" version="4.5.1" />
  <package id="System.Memory" version="4.5.4" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" />
</packages>